<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelAdmin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelAdmin.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/chosen/chosen.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/chosen/chosen.min.css" asp-append-version="true" />
</head>
<body>
    <header class="nav-head">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Administrator"))
                        {
                            <li><a class="dropdown-item text-dark" asp-controller="Room" asp-action="Index"><span class="nav-col">Комнаты</span></a></li>
                            <li><a class="dropdown-item text-dark" asp-controller="Category" asp-action="Index">Категории </a></li>
                            <li><a class="dropdown-item text-dark" asp-controller="CategoryTariff" asp-action="Index">Тарифы </a></li>
                            <li><a class="dropdown-item text-dark" asp-controller="TariffPlan" asp-action="Index">Тарифный план </a></li>
                            <li><a class="dropdown-item text-dark" asp-controller="Subscriber" asp-action="Index">Подписчики</a></li>
                            <li><a class="dropdown-item text-dark" asp-controller="Comment" asp-action="Index">Комментарии</a></li>

                        }                        
                        @if (User.IsInRole("BookingManager"))
                        {
                            <li class="nav-item dropdown">
                                <a class="dropdown-item dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Заказы
                                </a>
                                <ul class="dropdown-menu">

                                    <li><a class="dropdown-item" asp-controller="OrderPay" asp-action="Index">С предоплатой</a></li>
                                    <li><a class="dropdown-item" asp-controller="Order" asp-action="Index">Без предоплаты</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item text-dark" asp-controller="Client" asp-action="Index">Клиенты</a></li>
                            <li><a class="dropdown-item text-dark" asp-controller="RoomDate" asp-action="Index">Даты</a></li>

                        }
                        
                    </ul>
                    <ul class="navbar-nav flex-grow-1 justify-content-end ml-auto">
                        <li class="nav-item">
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted foot">
        <div class="container">
            &copy; 2023 - HotelAdmin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/chosen/chosen.jquery.js" asp-append-version="true"></script>
    <script src="~/lib/toastr.js/toastr.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
