
@{
    ViewData["Title"] = "InfoPay";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h4><strong>@ViewBag.Status</strong>  You have successfully booked a room</h4>
                    <h4>Booking information will be sent to you shortly.</h4>
                    <div class="bt-option color-text">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
