@{
    ViewData["Title"] = "Not found";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h4>Free rooms with such parameters were not found</h4>
                    <h4>Try changing the accommodation settings or check-in and check-out dates</h4>
                    <div class="bt-option">
                        <a asp-controller="Home" asp-action="Index"><h5 style="color: blue">Continue the search</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
