@model HotelAdmin.Models.Entity.CategoryTariff

@{
    ViewData["Title"] = "Delete";
}

<div class="delete">
<h3>Вы уверены, что хотите удалить это?</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <dl class="row">            
            <dt class="col-sm-4 info-sise">
                Категория:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dt class="col-sm-4 info-sise">
                Тарифный план:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.TariffPlan.Description)
            </dd>
            <dt class="col-sm-4 info-sise">
                Цена:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
</div>
<br />
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info">Сancel</a>
    </form>
</div>
</div>
