@model HotelAdmin.Models.Entity.TariffPlan

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4 info-sise">
                Описание:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>    
</div>
<br/>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info">Сancel</a>
    </form>
</div>
