@model HotelWebsiteBooking.Models.Entity.Client

@{
    ViewData["Title"] = "Info";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h4><strong>@Model.Name!</strong>&ensp;  Вы успешно забронировали номер </h4>
                    <h4>Информация о бронировании будет выслана вам в ближайшее время.</h4>
                    <div class="bt-option color-text">
                        <a asp-controller="Home" asp-action="Index">Главная</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
