@{
    ViewData["Title"] = "About Us";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><strong>Going to Sirius Hotels for a vacation: which hotel to choose, how to have fun</strong></h2>
                <br class="clear">
                <h5>
                    <p>
                        We have done a full review for you. You just need to determine the ideal option for a vacation or business trip.
                    </p>
                    <P>
                        To begin with, briefly. The Sirius Hotels hotel chain is located on the federal territory of Sirius, this is the southernmost part of the Black Sea coast of the country.
                        The network includes four hotels, all have an official category of "three stars".
                    </P>
                    <P>
                        What do hotels have in common: convenient location, proximity to the main attractions, proximity to the airport, railway and bus stati, high standards of service, focus on different formats of recreation, seasonal promotions and special offers – always
                    </P>
                </h5>
                <br class="clear">
                <img class="img-centre" src="~/img/about/sirius1.jpg" alt="">
                <br class="clear">
                <h5>
                    <P>
                        An ideal hotel for family holidays and business trips in the heart of the Olympic Park.
                        Each room has a balcony with a magnificent view of the sea, Olympic facilities or the Caucasus Mountains.
                        Meals: in the restaurant in the "buffet" or "set menu" format, you can also order dishes of European and local cuisine on the a la carte menu.
                        It offers: lobby bar, parking, free transfer to the beach/ski resort, branded store. The hotel implements the concept of pet-friendly, so it is possible to stay with pets.
                        The gym is equipped with everything necessary to maintain excellent physical shape (there are modern cardio and strength simulators, a large selection of dumbbells, balls and yoga mats). Free for guests 24/7.
                        The ski room allows guests to dry and store ski equipment.
                        The children's room is a spacious safe hall with educational games, a children's maze, soft balls, game modules for children of different ages. Free for hotel guests.
                    </P>
                    <P>
                        Who the hotel is for: families, business audience, animal lovers, fans of "smart tourism". The hotel has a wide range of opportunities for business events, so it is often chosen by conference organizers.
                    </P>
                </h5>
            </div>
        </div>
    </div>
</div>
