@{
    ViewData["Title"] = "Contact";
}

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-20">
                <div class="contact-text">
                    <h2>Contact Info</h2>
                    <p>
                        We know what a good hotel is where you can have a good time, regardless of the purpose of your visit.
                    </p>
                    <table class="tab">
                        <tbody>
                            <tr>
                                <td class="c-o">Address:</td>
                                <td>Krasnodar territory, Sochi, Lenin str., 2, a/z 110</td>
                            </tr>
                            <tr>
                                <td class="c-o">Phone:</td>
                                <td>8(800) 350 4590</td>
                            </tr>
                            <tr>
                                <td class="c-o">Email:</td>
                                <td>info.sirius@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="c-o">Fax:</td>
                                <td>+8(800) 350 4590</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="map">
            <iframe src="https://yandex.ru/maps/239/sochi/chain/sirius_hotels/127624846510/filter/chain_id/127624846510/?ll=39.986735%2C43.431058&sctx=ZAAAAAgBEAAaKAoSCVhzgGCO3ENAERTQRNjwykVAEhIJ7lpCPugZ8z8Rc7wC0ZOy5D8iBgABAgMEBSgAOABA1awNSAFqAnJ1nQHNzEw9oAEAqAEAvQEhQLDhwgEXsuXFqJsE0%2Buw8KAB8IzS0Y0Bqqu0rgTqAQDyAQD4AQCCAhdjaGFpbl9pZDooMTI3NjI0ODQ2NTEwKYoCAJICAJoCDGRlc2t0b3AtbWFwc6oCJjEyNzYyNDg0NjUxMCwyMjEwNjg0MzY2NzEsMTM2MzQ3Mzc4MzAwsAIB&sll=39.986735%2C43.431058&sspn=0.128967%2C0.053148&z=13.2" height="470" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
