@{
    ViewData["Title"] = "About Us";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2><strong>Об отеле</strong></h2>
                </div>
                <br class="clear">
                <p>
                    Отель расположен всего в 10 минутах от центра города. Номера нашего отеля – это воплощение профессионализма и уникальных элементов интерьера. 
                    Каждый номер имеет изысканный и неповторимый дизайн.
                </p>
                <P>
                    К услугам гостей: рестораны и лобби-бар, открытый подогреваемый бассейн, фитнес-центр, SPA, круглосуточный ресепшен, багажная комната, парковка и бесплатный Wi-Fi.
                </P>
                <P>
                    Удобное расположение, близость к основным достопримечательностям, близость к аэропорту, железнодорожным и автобусным станциям, 
                    высокие стандарты обслуживания, ориентация на различные форматы отдыха, сезонные акции и специальные предложения – всегда
                </P>
                <br class="clear">
                <img class="img-centre" src="~/img/about/sirius1.jpg" alt="">
                <br class="clear">
                <br>
                <P>
                    Идеальный отель для семейного отдыха и деловых поездок в самом сердце Олимпийского парка.
                    В каждом номере есть балкон с великолепным видом на море, олимпийские объекты или Кавказские горы.
                    Питание: в ресторане в формате "шведский стол" или "комплексное меню" вы также можете заказать блюда европейской и местной кухни по меню a la carte.
                    К услугам гостей: лобби-бар, парковка, бесплатный трансфер до пляжа/горнолыжного курорта, фирменный магазин. В отеле реализована концепция, допускающая размещение с домашними животными, поэтому в нем возможно проживание с домашними животными.
                    Тренажерный зал оснащен всем необходимым для поддержания отличной физической формы (есть современные кардиотренажеры и силовые тренажеры, большой выбор гантелей, мячей и ковриков для йоги). Бесплатно для гостей 24/7.
                    В помещении для хранения лыж гости могут сушить и хранить лыжное снаряжение.
                    Детская комната - это просторный безопасный зал с развивающими играми, детской'
                </P>
                <P>
                    Для кого предназначен отель: для семей, деловой аудитории, любителей животных, фанатов "умного туризма". 
                    Отель располагает широким спектром возможностей для проведения деловых мероприятий, поэтому его часто выбирают организаторы конференций.
                </P>
            </div>
        </div>
    </div>
</div>
