@{
    ViewData["Title"] = "Contact";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Контактная информация</h2>
                    <div class="bt-option">
                        <a asp-controller="Home" asp-action="Index">Главная</a>
                        <span>Контакты</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-text">
                    <h5>
                        Мы знаем, что такое хороший отель, где вы можете хорошо провести время, независимо от цели вашего визита.
                    </h5>
                    <br />
                    <table class="tab">
                        <tbody>
                            <tr>
                                <td class="c-o">Адрес:</td>
                                <td>Krasnodar territory, Sochi, Lenin str., 2, a/z 110</td>
                            </tr>
                            <tr>
                                <td class="c-o">Телефон:</td>
                                <td>8(800) 350 4590</td>
                            </tr>
                            <tr>
                                <td class="c-o">Email:</td>
                                <td>info.myhotel@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="c-o">Fax:</td>
                                <td>+8(800) 350 4590</td>
                            </tr>
                            <tr>
                                <td class="c-o">Ресепшн:</td>
                                <td>8 872-272-6262 (Пн-Вс: круглосуточно)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="room-booking">
                    <p><strong>ДРУГИЕ СПОСОБЫ СВЯЗИ</strong></p>
                    <hr />
                    <p><strong>Отдел бронирования:</strong></p>
                    <ul>
                        <li>8 800-350-4700 (звонок бесплатный)</li>
                        <li>hotel@myhotel.ru</li>
                    </ul>
                    <hr />
                    <p><strong>Отдел продаж:</strong></p>
                    <ul>
                        <li>sales@myhotel.ru</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="map">
            <iframe src="~/img/cart.png" height="470" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
