@{
    ViewData["Title"] = "News";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2><strong>Travel: where and when it is better to fly, — expert</strong></h2>
                    <br class="clear">
                    <h5>
                        <p>
                            The cost of travel for the New Year holidays in all directions will double. Therefore, the head of the "School of Tourism" Anastasia Proskura advises planning a trip before or after. Now the most popular is ecotourism.
                            Citizens began to look for places where they could take a break from infrastructure and technology, Inform-UA reports.
                        </p>
                        <p>
                            In recent years, Russian citizens have traveled more to Turkey and Egypt. Now there is a trend towards ecotourism.
                        </p>
                    </h5>
                    <br class="clear">
                    <img class="img-centre" src="~/img/about/Journeys.jpg" alt="">
                    <br class="clear">
                    <h5>
                        <P>
                            Everyone wants to try the new — forgotten old, to do ecotourism. People are tired of technology, they want to get acquainted with the traditions of wilder countries, where there is nature, unusual traditions that do not intersect with ours. Ecotourism is closer to nature, as untouched as possible.
                            You can find such plots of land where there is no infrastructure, there is clean air, a lot of greenery. These are Morocco, Nepal, India, Tanzania, Namibia.
                            Now the citizens of Ukraine have the opportunity to easily get to many countries, there is no need for any special visa, - says the head of the "School of Tourism" Anastasia Proskura.
                        </P>
                        <P>
                            An expert in the field of tourism advises those who want to take a break from city life to visit the Dominican Republic:
                            The Dominican Republic is a beautiful country, it is very poor, although very rich tourists come there. For such a journey, you need to be ready to see this poverty, devastation. Everything is beautiful in the picture, but what is behind the scenes is not shown, because a tourist simply will not go there.
                            The beauty is that people get tired of the city, constant stress, think that somewhere there is better. And that's when they come, compare, and understand that Ukraine is a rich country, relax, and then go through life with a good mood.
                        </P>
                        <P>
                            Many people are afraid to travel because they do not know foreign languages. But, as Anastasia Proskura says, given modern technology, this is not a problem:
                            an online translator will help you. In addition, for example in Spain, many do not know English. They see no point in learning it if 80 percent of the world's population knows Spanish. Therefore, there is no need to be afraid, you should just take a ticket and fly.
                            When you buy a ticket, it already obliges you. Then everything starts to adjust to the journey. And when you just talk about it and don't do anything, it won't do any good.
                        </P>
                        <P>
                            Also today there are quite a large number of varieties of tourism, one of which is the study of foreign languages.
                            If you are learning French, then for fifteen hundred euros in Paris for a week they can help you learn it. But at the same time it is necessary to know English, since the training will take place in it.
                            Now many parents send their children to such programs, the world is open, and people want to give their children what they themselves did not have," says Anastasia Proskura.
                        </P>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
