@{
    ViewData["Title"] = "Pool";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">                
                <div class="breadcrumb-text">
                    <h2><strong>Летний прогреваемый бассейн</strong></h2>
                </div>
                <br class="clear">
                <p>
                    Открыт для всех желающих для гостей отеля вход - бесплатный.                            
                </p>
                <p>
                    Большой бассейн под открытым небом в парк-отеле. Всего в 10 минутах от центра города в окружении соснового бора
                    расположился большой летний бассейн с подогреваемой водой
                </p>
                <br class="clear">
                <img class="img-centre" src="~/img/about/pool.jpg" alt="">
                <br class="clear">
                <br class="clear">
                <P>
                    Мы предусмотрели отдельную зону для отдыха премиум уровня, в которой вы насладитесь уединением и спокойствием.
                    В VIP-зоне вы сможете легко скрыться от солнечных лучей, комфортно расположиться с любимой книгой или просто наслаждаться освежающим коктейлем в непринуждённой обстановке.
                </P>
                <P>
                    На территории бассейна можно не только отлично провести время и позагорать, но и вкусно покушать. 
                    Летняя терраса в парк-отеле «Сосновый бор» с видом прямо на бассейн — особое пространство для наслаждения. 
                    Здесь можно расслабиться в жаркий летний день за освежающим коктейлем и насладиться большим выбором блюд из меню.
                </P>
                <br class="clear">
                <div class="breadcrumb-text">
                <h3>
                    Стоимость посещения и режим работы бассейна
                </h3>
                <br class="clear">
                <h4>
                    Режим работы бассейна: ежедневно с 10.00 до 19.30
                </h4>
                <h4>
                    После 19.30 вход на летнюю террасу свободный,
                </h4>
                <h4>
                    купание запрещено, работает бар.
                </h4>
                </div>
            </div>
        </div>
    </div>
</div>
