@{
    ViewData["Title"] = "Restaurant";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2><strong>Ресторан</strong></h2>
                </div>
                <br class="clear">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/img/fun/restaurant1.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/fun/restaurant2.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/fun/restaurant3.jpeg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br class="clear">
                    <P>
                        Наш ресторан принимает как проживающих в отеле гостей, так и всех желающих вкусно поесть или отлично провести вечер. 
                        Гостей ресторана ожидает европейская кухня, уютная атмосфера, стильный интерьер и высокий уровень сервиса. 
                        Отдельного внимания заслуживает обширное барное меню, в котором представлены вина всех ведущих регионов, а также классические алкогольные напитки. 
                        Для маленьких гостей в ресторане действует «Детское меню» с полезными и вкусными блюдами в оригинальной подаче.
                    </P>
                    <P>
                        Утром в ресторане можно вкусно позавтракать, днем за чашечкой кофе провести деловую встречу или сытно пообедать, 
                        выбрав из разнообразного меню понравившееся блюдо, а вечером — собраться большой компанией и насладиться теплой атмосферой нашего ресторана.
                    </P>
                    <P>
                        При желании гости отеля могут попробовать блюда и напитки не выходя из номера: в отеле есть услуга room service (доставка еды в номер) — сервисный сбор 10%.
                    </P>
                <br class="clear">
                <div class="breadcrumb-text">
                    <h3>
                        <strong>Режим работы ресторана:</strong>
                    </h3>
                    <br class="clear">
                    <h4>
                        Ежедневно с 08:00 до 23:00
                    </h4>
                    <h4>
                        Завтраки: Ежедневно с 8:00 — 11:00
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
