@{
    ViewData["Title"] = "Spa";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2><strong>СПА-зона</strong></h2>
                </div>
                <br class="clear">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/img/fun/spa1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/fun/spa2.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/fun/spa3.jpeg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br class="clear">
                <h4>
                    <strong>Просторная индивидуальная СПА-зона в отеле — идеальное место отдыха только для проживающих гостей нашего отеля.</strong>
                </h4>
                <br class="clear">
                <p><strong>Большая уединенная СПА-зона включает в себя:</strong></p>
                <ul>
                    <li>Две сауны: финская сауна и турецкий хамам</li>
                    <li>Крытый бассейн</li>
                    <li>Панорамный бассейн под открытым небом, температура воды 35-37 °С.</li>
                    <li>Водные аттракционы: летний дождь, противоток, гейзер.</li>
                    <li>Массажные кабинеты.</li>
                    <li>Чайная комната для отдыха</li>
                </ul>
                <br class="clear">
                <P>
                    Бесплатное посещение CПА-зоны для проживающих доступно <strong>с 10:00 до 18:00.</strong>
                </P>
                <p><strong>ИНДИВИДУЛЬНОЕ ПОСЕЩЕНИЕ</strong></p>
                <P>
                    Бронирование СПА-зоны доступно только для проживающих с 20:00 до 03:00.
                    Стоимость 3000 руб/час, минимальное время для бронирования 2 часа.
                </P>
                <br class="clear">
                <P>
                    Необходимо предварительное бронирование по телефону!
                </P>
                <br class="clear">
                <div class="breadcrumb-text">
                    <h4>
                        <strong>Массажи и СПА-программы</strong>
                    </h4>
                </div>
                <br class="clear">
                <p>
                    <strong>СПА-услуги в нашем отеле</strong> — это территория полного расслабления, очищения и омоложения.
                </p>
                <p>
                    В нашем СПА-меню есть предложения на любой вкус: <strong>обертывания, скрабирования, банные ритуалы в хаммаме, массажи, комплексные программы для двоих.</strong>
                </p>
                <br class="clear">
                <p>
                    Воспользуйтесь профессиональными СПА-программами и массажами и почувствуйте, как Ваше тело заряжается природной энергией и жизненными силами.
                </p>
            </div>
        </div>
    </div>
</div>
